@font-face {
  font-family: styreneb;
  src: url($styreneb-regular) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: styreneb;
  src: url($styreneb-bold) format("woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: styreneb;
  src: url($styreneb-black) format("woff2");
  font-weight: bolder;
  font-display: swap;
}

@font-face {
  font-family: "b612mono", monospace;
  font-weight: 400;
  src: url(b612mono-regular) format("ttf");
}

@font-face {
  font-family: "b612mono", monospace;
  font-weight: bold;
  src: url($b612mono-bold) format("ttf");
}

@font-face {
  font-family: "b612mono", monospace;
  font-weight: 400;
  font-style: italic;
  src: url($b612mono-italic) format("ttf");
}

@font-face {
  font-family: "b612mono", monospace;
  font-weight: 700;
  font-style: italic;
  src: url($b612mono-bolditalic) format("ttf");
}


body.custom-wizard {
  background-image: url($background);
  background-size: cover;
  font-family: "styreneb";
  color: #231F20;
  
  .wizard-field {
    margin-bottom: 0.5em;
  }

  code {
    font-family: "b612mono";
  }
}

.custom-wizard .wizard-step-title p {
  padding: 0px;
  text-decoration: none;
  font-family: "styreneb";
  color: #231F20;
}

.custom-wizard .field-description {
  font-family: "styreneb";
  font-weight: bold;
}

.custom-wizard .field-label {
  font-family: "styreneb";
  font-weight: bolder;
}

.custom-wizard .wizard-step-description {
  font-family: "styreneb";
  font-weight: bolder;
}

.custom-wizard .wizard-column {
  padding: 1rem;
  background-color: #eae8e6;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  border-radius: 0.5rem;
  border-color: #eae8e6;
}

.custom-wizard .wizard-column-contents {
  background-color: #eae8e6;
}

input[type="checkbox"] {
  margin-bottom: 0;
  margin-right: 0.75em;
}